//Fuentes
$fuente_principal: 'Montserrat', sans-serif;
$fuente_sec: 'Pacifico', cursive;


$dorado:#ffe742;
$amarillo:#fefd6b;
$azul:#081fc4;
$azulClaro:#0772ff;
$gris:#cfdef7;
$negro:#000;
$blanco:#fff;
$rojo:rgb(212, 23, 23);
$verde:#3eba4f;


 $card-height: 65vh;
 $card-width: calc($card-height / 1.5);
 